@import 'swiper/css';
@import 'swiper/css/effect-coverflow';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@import 'swiper/css/effect-cards';
@import './styles/slider.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  width: max-content;
}

/* Optional: Pause animation on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}